* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    padding: 20px;
    background: #f5efeb;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #c8d9e6;
    color: #2f4156;
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .card {
     background-color: #c8d9e6;
     padding: 20px;
     margin-top: 20px;
     color: #2f4156;
  }
  
  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #c8d9e6;
    margin-top: 20px;
    color: #2f4156;
  }